@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.search-input:focus {
  outline: none;
}
.filter > li {
  padding: 5px 5px;
}
.cart-image {
  width: 280px;
  height: 200px;
  background-size: cover;
}
.product-card:hover {
  transform: scale(1.2);
}
.footer-list {
  color: rgb(131, 103, 103);
}
.footer-list > li:hover {
  color: white;
  cursor: pointer;
}
.footer-headerline {
  border-bottom: 5px solid red;
}

@media screen and (max-width: 768px) {
  #logo {
    font-size: 27px;
  }
  #product-card {
    width: 250px;
    height: 300px;
  }
  #carouselExampleSlidesOnly {
    padding-top: 160px;
  }
  #products-menu {
    padding-top: 150px;
  }
  #searchResults {
    padding-top: 158px;
  }
  #cart-page {
    padding-top: 158px;
  }

  #orderStatustable {
    padding-top: 158px;
  }
  .form-body {
    width: 350px;
    padding: 15px;
  }
  .content-row {
    margin: 15px 5px;
  }
  .content-image {
    height: 350px;
  }
  .content-title {
    font-size: 22px;
  }

  #menuButton {
    padding-top: 10px;
  }

  .top-right {
    padding-top: 10px;
  }
  .leftsidebar-container {
    display: none;
  }
  .top-column {
    padding: 5px 0;
  }
  .carousel1 {
    padding-top: 100px;
  }
  .item-image {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  #logo {
    font-size: 20px;
  }
  .form-body {
    width: 350px;
    padding: 15px;
  }
  #navbar-menu {
    padding-top: 70px;
  }

  #searchResults {
    padding-top: 20px;
  }
  #cart-page {
    padding-top: 80px;
  }
  #orderStatustable {
    padding-top: 80px;
    width: 70%;
    margin: 0 auto;
  }
  #cart-image {
    width: 350px;
    height: 250px;
  }
  .content-image {
    width: 70%;
    height: 650px;
  }
  .item-image {
    width: 60rem;
    height: 380px;
  }
  .menuIcon {
    display: none;
  }
  .leftsidebar-container {
    width: 270px;
    position: fixed;
  }
}
